@font-face {
    font-family: 'Lalezar';
    src: url('fonts/Lalezar-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lalezar';
    background-color: #3d4367;
    color: #fff;
}

.container {
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
}

h1 {
    font-size: 4.5em;
    margin: 0px;
}

p {
    font-size: 3.2em;
	margin-top:0px;
}


